.home-page {
  padding-top: 84px;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top left, aquamarine, blueviolet);
  box-sizing: border-box;
}
.test {
	overflow: auto;
	background-color: blanchedalmond;
}
html {
	font-size: 40px;
}

@media screen and (max-width: 375px) {
	html {
		font-size: 20px;
	}
}

.c {
	width: 200px;
	height: 200px;
	margin: 20px;
	background-color: aquamarine;
	float: left;
	font-size: 1rem;
	/* overflow: hidden; */
}
.clearfix::after {
	/* content: '';
	display: block;
	clear: both; */
}
